.container {
  max-width: 49.5em;
}
a, .link {
	color: blue;
	text-decoration: underline;
}
.disabled {
	color: #999;
}
td {
	padding: 0.5rem 0.25rem;
}
table.dense td,
table.dense th {
	font-size:0.8rem;
}
.dropdown {
	position:absolute;
	background:white;
	padding:1rem;
	border:1px solid #ccc;
	width:45%;
	font-size:0.85rem;
	line-height: 1.2;
	text-align: left;
	font-weight: normal
}