<div>
	<!-- <h2 class="f3 texttransform-uppercase textalign-center letterspacing-tracked marginbottom-xlarge">About</h2> -->
	<div class="measure center paddinghorizontal-medium">
		<p>
			DIY Transparency Report is a tool to...
		</p>
	</div>

	<div class="textalign-center clear-both clearfix">
		<a href="#/create-report" class="button button-default verticalalign-top width-xxxlarge marginhorizontal-small margintop-large">
			<div class="b f4">Create transparency report</div>
		</a>
		<a href="#/reports" class="button button-default verticalalign-top width-xxxlarge marginhorizontal-small margintop-large">
			<div class="b f4">See uncompleted reports</div>
		</a>
		<a href="#/reports" class="button button-default verticalalign-top width-xxxlarge marginhorizontal-small margintop-large">
			<div class="b f4">See completed reports</div>
		</a>
	</div>

	<h3 class="textalign-center margintop-xlarge">About us</h3>
	<div class="measure center paddinghorizontal-medium">
		<p>
			DIY Transparency Report is a joint project by Open Effect and the Citizen Lab at the Munk School of Global Affairs (University of Toronto). Funding comes in part from the...
		</p>
	</div>
</div>