<div>
	<!-- <h2 class="f3 texttransform-uppercase textalign-center letterspacing-tracked marginbottom-xlarge">About</h2> -->
	<div class="measure center paddinghorizontal-medium">
		<p>
			DIY Transparency Report is a tool to...
		</p>
	</div>

	<div class="textalign-center clear-both clearfix">
		<a href="#/create-report" class="button button-default verticalalign-top width-xxxlarge marginhorizontal-small margintop-large">
			<div class="b f4">Create transparency report</div>
		</a>
		<a href="#/reports" class="button button-default verticalalign-top width-xxxlarge marginhorizontal-small margintop-large">
			<div class="b f4">See uncompleted reports</div>
		</a>
		<a href="#/reports" class="button button-default verticalalign-top width-xxxlarge marginhorizontal-small margintop-large">
			<div class="b f4">See completed reports</div>
		</a>
	</div>

	<h3 class="textalign-center margintop-xlarge">About us</h3>
	<div class="measure center paddinghorizontal-medium">
		<p>DIY Transparency Report is a joint project by Open Effect and the Telecom Transparency Project.</p>
		<p><strong>The Telecom Transparency Project</strong> investigates how telecommunications data is monitored, collected, and analyzed for commercial, state security, and intelligence purposes. The Project is associated with the Citizen Lab, an interdisciplinary laboratory based at the Munk School of Global Affairs, University of Toronto. The Citizen Lab focuses on advanced research and development at the intersection of information and communications technologies, human rights, and global security.</p>
		<p><strong>Open Effect</strong> is a Canadian not-for-profit that conducts research and advocacy focused on ensuring people’s personal data is treated securely and accountably. It uses a mix of policy and technical analysis methods to explore how digital services use personal data. Open Effect builds interactive advocacy tools to disseminate its work and empower individuals to learn about and exercise their rights online.</p>
		<p>This project was funded through the Canadian Internet Registration Authority’s .CA Community Investment Program. Through the Community Investment Program, .CA funds projects that demonstrate the capacity to improve the Internet for all Canadians. The .CA team manages Canada’s country code top-level domain on behalf of all Canadians. A Member-driven organization, .CA represents the interests of Canada’s Internet community internationally.</p>

		</p>
	</div>
</div>