<div class="container center">
	<h2 class="f3 texttransform-uppercase textalign-center letterspacing-tracked marginbottom-xlarge">Setup</h2>
	<h3>Data Retention Guide</h3>
		<a href="#/categories">Manage data categories</a>
	<h3>Government Request Handbook</h3>
	<a href="#/lea-categories">Manage handbook guideline categories</a>
	<h3>Government Requests Report</h3>
		<a href="#/gov-request-categories">Government Request Categories</a><br>
		<a href="#/gov-request-responses">Government Request Reporting Categories</a>
	</ul>
</div>