<div class="container center">
	<h2 class="f3 texttransform-uppercase textalign-center letterspacing-tracked marginbottom-xlarge">Setup</h2>
	<ul>
		<li class="marginbottom-medium"><a href="#/categories">Data Categories</a></li>
		<li class="marginbottom-medium"><a href="#/lea-categories">Law Enforcement Action Categories</a></li>
		<li class="marginbottom-medium"><a href="#/gov-request-categories">Government Request Categories</a></li>
		<li class="marginbottom-medium"><a href="#/gov-request-responses">Government Request Reporting Categories</a></li>
	</ul>
</div>