<div class="container paddinghorizontal-medium center">
	<h2 class="f3 texttransform-uppercase textalign-center letterspacing-tracked marginbottom-xlarge">Reports</h2>
	<p>
		DESCRIPTION / INTRO FOR TRANSPARENCY REPORTS. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
	<div class="backgroundcolor-white padding-medium">
		<table class="f5 width-100p">
			<tr>
				<th>Report ID</th>
				<th>Author</th>
				<th>Report Start Date</th>
				<th>Report End Date</th>
				<th colspan="2">Actions</th>
			</tr>
			<tr ng-repeat="report in reports">
				<td>{{report.report_id}}</td>
				<td>{{report.author_name}}</td>
				<td>{{report.report_period_start}}</td>
				<td>{{report.report_period_end}}</td>
				<td><a ng-href="#/reports/{{report.report_id}}">View</a></td>
				<td><a class="link" ng-click="deleteReport(report)">Delete</a></td>
			</tr>
		</table>
	</div>
	<p class="textalign-center">
		<a href="#/create-report" class="button button-default">Create new transparency report</a>
	</p>
</div>