<div class="container paddinghorizontal-medium center">
	<h2 class="f3 texttransform-uppercase textalign-center letterspacing-tracked marginbottom-xlarge">Reports</h2>
	<div class="backgroundcolor-white padding-medium">
		<table class="f5 width-100p">
			<tr>
				<th>Report ID</th>
				<th>Author</th>
				<th>Report Start Date</th>
				<th>Report End Date</th>
				<th colspan="2">Actions</th>
			</tr>
			<tr ng-repeat="report in reports">
				<td>{{report.report_id}}</td>
				<td>{{report.author_name}}</td>
				<td>{{report.report_period_start}}</td>
				<td>{{report.report_period_end}}</td>
				<td><a ng-href="#/reports/{{report.report_id}}">View</a></td>
				<td><a class="link" ng-click="deleteReport(report)">Delete</a></td>
			</tr>
		</table>
	</div>
	<p class="textalign-center">
		<a href="#/create-report" class="button button-default">Create new transparency report</a>
	</p>
</div>