<div class="container center">

	<h2 class="textalign-center" ng-if="isCreating">Create new Data Retention Guide for report #{{report.report_id}}</h2>
	<h2 class="textalign-center" ng-if="!isCreating">Data Retention Guide for report #{{report.report_id}}</h2>
	<p>
		<strong>Data retention guides</strong> provides information about how long organizations retain information that is in their possession. Such guides can help companies rapidly identify to third-parties, including users and government agencies, whether they possess information of interest to those parties. Moreover, by possessing a data retention guide an organization can demonstrate its compliance with Canadian privacy law.
	</p>
	<p class="b">Note that unchecking a certain data type implies that your organization does not retain that data type.</p>
	<div class="backgroundcolor-white paddinghorizontal-large paddingtop-medium paddingbottom-small">
		<section ng-if="!isCreating">

				<div class="clear-both clearfix marginvertical-medium borderbottom bordercolor-lightgrey paddingbottom-medium" ng-repeat="category in guide.data_categories">
					<div class="width-50p float-left">
						<label>
							<strong><input type="checkbox" ng-model="category.inclusion_status"> {{category.name}}</strong>
						</label>
					</div>
					<div class="width-50p float-left">
						<div class="marginbottom-small" ng-repeat="item in category.items">
							<label ng-class="{'disabled': !category.inclusion_status}">
								<input ng-disabled="!category.inclusion_status" type="checkbox" ng-model="item.inclusion_status"> {{item.name}}
							</label>
						</div>
					</div>
				</div>
		</section>
		<form>
		<label>
			<label class="b">Description of Data Retention Guide</label>
						<p>An organization might want to provide non-structured information to readers. Such information might include information on why it specifically retains the information it does, the security or other controls that have been established to delimit access to the information, or explanations of why different business systems require the data outlined in the organizational data retention guideline to provide services to individuals.</p>

<p>Furthermore, this non-structured information might include licensing information (is the document copyrighted, protected under a Creative Commons license, etc.) as well as a FAQ that provides answers to common questions that readers of the data retention guideline might regularly ask the organization.</p>
			<textarea ng-model="guide.narrative" class="width-100p height-xxlarge" placeholder="Describe this guide"></textarea>
		</label>
		<p>
			<button class="button button-default" ng-click="save()">Save changes</button>
		</p>
		</form>
	</div>

	<p>
		<a class="button button-default" href="#/reports/{{report.report_id}}">Back to report #{{report.report_id}} overview</a>
	</p>
</div>