<div class="container center">

	<h2 class="textalign-center" ng-if="isCreating">Create new Data Retention Guide for report #{{report.report_id}}</h2>
	<h2 class="textalign-center" ng-if="!isCreating">Data Retention Guide for report #{{report.report_id}}</h2>

	<div class="backgroundcolor-white paddinghorizontal-large paddingtop-medium paddingbottom-small">
		<section ng-if="!isCreating">

				<div class="clear-both clearfix marginvertical-medium borderbottom bordercolor-lightgrey paddingbottom-medium" ng-repeat="category in guide.data_categories">
					<div class="width-50p float-left">
						<label>
							<strong><input type="checkbox" ng-model="category.inclusion_status"> {{category.name}}</strong>
						</label>
					</div>
					<div class="width-50p float-left">
						<div class="marginbottom-small" ng-repeat="item in category.items">
							<label ng-class="{'disabled': !category.inclusion_status}">
								<input ng-disabled="!category.inclusion_status" type="checkbox" ng-model="item.inclusion_status"> {{item.name}}
							</label>
						</div>
					</div>
				</div>
		</section>
		<form>
		<label>
			<p class="b">Description of Data Retention Guide</p>
			<textarea ng-model="guide.narrative" class="width-100p height-xxlarge"></textarea>
		</label>
		<p>
			<button class="button button-default" ng-click="save()">Save changes</button>
		</p>
		</form>
	</div>

	<p>
		<a class="button button-default" href="#/reports/{{report.report_id}}">Back to report #{{report.report_id}} overview</a>
	</p>
</div>